<form class="user-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
        <label>Username</label>
        <input type="username" formControlName="username" class="form-control" placeholder="Enter Username">
        <div *ngIf="submitted && formControl['username'].errors" class="invalid-feedback">
            <div *ngIf="formControl['username'].errors['required']"></div>
        </div>
    </div>
    
    <div>
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">
        <div *ngIf="submitted && formControl['password'].errors" class="invalid=feedback">
            <div *ngIf="formControl['password'].errors['required']"></div>
        </div>
    </div>
    <br>
    <div class="button-container">
        <button class="button" type="submit">Login</button>
    </div>
</form>