  <div class="centerbox">
    <h1>Transfer Money</h1>
    <br />
      <form>
        <label>Transfer from<br /><em>(account id)</em></label>
        <br />
        <input type="number" id="fromId" [(ngModel)]="fromId" name="fromId" placeholder="fromId">
        <br />
        <label>Transfer to<br /><em>(account id)</em></label>
        <br />
        <input type="number" id="toId" [(ngModel)]="toId" name="toId" placeholder="toId">
        <br />
        <label>Amount</label>
        <br />
        <input type="number" id="password" [(ngModel)]="amount" name="amount" placeholder="amount">
        <br />
        <label>Description</label>
        <br />
        <input type="text" id="surname" [(ngModel)]="description" name="description" placeholder="description">
        <br />
        <input type="submit" (click)=onSubmit() class="submit" value="Submit">
      </form>
   </div>